.password-requirements li {
  padding: 5px;
  border: none;
}

.password-requirements .badge {
  padding: 0 .6em;
  font-size: 31%;
}

.password-requirements .disabled .badge {
  background-color: #bfe5c7;
}
