.btn.btn-lg.btn-block .spinner-border {
    width: 1.3rem; height: 1.3rem; margin-right: 0.5rem;
}

.inline-group-last-element {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}
